
h1 {
	font-size: 3em;
	text-align: center;
} /*added by Don*/

#mapdiv {
    width:100%;
    height:100%;
} /*added by Don*/

.leaflet-control-attribution {
	text-align: right;	
} /* attempt to move that leaflet attribution from upper right corner */

.leaflet-control {
	text-align: right;	
} /* attempt to move that leaflet attribution from upper right corner */

.narrative {
	margin: 0 auto;
	width: 60%;
}

.narrative p {
	font-size: 1.5em;
}

.narrative div p, div.full-image p {
	color: gray;
	font-size: 1em;
	margin: .5em 0 2em 0;
}

.narrative div img {
	width: 90%;
}

.image-panel	{
	border: 1px solid blue;		
	height: 80vh;
	position: relative;
}

.image-panel div 	{
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	}

.chapter-title 	{
	background-color: #ccc;
	height: 3em;
	margin-top: 4em;
	text-align: center;
	}

.image-panel div img, div.full-image img	{
	max-width: 100%;
}

.caption-panel	{
	width: 25%;
	position: relative;
	z-index: 10;
	margin: 2em;
}

.caption-panel div {
	background-color: beige;
	/*margin-bottom: 50em;*/
	margin-bottom: 90vh;
	padding: 2em;
	margin-top: -10em;
}

.caption-panel div.last-one {
	margin-bottom: 20em;
}
