// page layout
body {
	margin: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: 60% 40%;
	padding: 2% 5%;
}

.image-panel {
	grid-column: 1;
}

.text-panel {
	background-color: $dark-gray;
	grid-column: 2;
}

.full-width {
	padding-bottom: 2em;
	text-align: left;
}

.image-container {
    position: relative;
    width: 100%;
    display: inline-block;
    height: 90vh;
    overflow: hidden;
}

.image-container div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.image-container div img {
    top: 0;
    left: 0;
    height: 75vh;
}

.image-container img.active {
    z-index:2;
}
